# SQLite Database URL
# Padrão: file:./db/custom.db (banco de dados local)
# Para usar um banco de dados externo, altere a URL abaixo
DATABASE_URL="postgres://postgres.sxnivvoqqbsrntylonej:071422Wd071422@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
